html, body {
    font-size: 16px;
    color: #333; /* Grey text color */
    background-image: url("background-photo 1.jpg");
}


}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section-1 {
    background: #dbd3d8; /* Dark grey background color */
}

.section-2 {
    background-color: #5f6062; /* Medium grey background color */
}

.section-3 {
    background-color: #999; /* Light grey background color */
}

.section-4 {
    background-color: #333; /* Dark grey background color */
    padding: 0.2rem;
}

a.nav-item {
    color: #333; /* Dark grey text color for nav items */
}

a.nav-item:hover {
    color: #555; /* Slightly lighter grey on hover */
}

.avatar {
    height: 200px;
    border-radius: 50%;
}

.intro-description {
    padding-top: 1rem;
}

.social-container img {
    max-width: 100%;
    max-height: 175px;
    margin-bottom: 15px;
}

.project-figure {
    margin: 0 auto 1rem auto;
    max-height: 256px;
    max-width: 256px;
}

.project-text {
    text-align: justify;
}

.box {
    background-color: #f8f9fa; /* Light grey box background */
    border: 2px solid #ccc; /* Border color */
}

.title {
    color: #ffffff; /* Dark grey title color */
    text-align: left;
    margin-bottom: 2rem;
}

.intro {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}

.void-background {
    background-color: #f2f2f2; /* Light grey background color */
}

@media screen and (max-width: 768px) {
    .nav-menu {
        background-color: #ffffff; /* Dark grey background color for mobile menu */
    }

    .nav-toggle:hover {
        background-color: #f2f2f2; /* Light grey on hover */
    }

    .nav-toggle span {
        background-color: #333; /* Dark grey menu icon color */
    }

    .nav-toggle span:hover {
        background-color: #555; /* Slightly lighter grey on hover */
    }
}
